In [51]:
import pandas as pd

In [52]:
power=pd.read_excel("C:\\Users\\LENOVO\\Downloads\\drive-download-20211218T093705Z-001\\data_cleaning.xlsx", sheet_name=1, header=None)
flex=pd.read_excel("C:\\Users\\LENOVO\\Downloads\\drive-download-20211218T093705Z-001\\data_cleaning.xlsx", header=11)

In [53]:
flex.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Flat Rate,0.21,$/kWh,NaN,January,0.20,$/kWh,NaN,12AM until 1AM,0.10,$/kWh
1,NaN,NaN,NaN,NaN,February,0.19,$/kWh,NaN,1AM until 2AM,0.10,$/kWh
2,NaN,NaN,NaN,NaN,March,0.17,$/kWh,NaN,2AM until 3AM,0.10,$/kWh
3,NaN,NaN,NaN,NaN,April,0.18,$/kWh,NaN,3AM until 4AM,0.10,$/kWh
4,NaN,NaN,NaN,NaN,May,0.22,$/kWh,NaN,4AM until 5AM,0.15,$/kWh
5,NaN,NaN,NaN,NaN,June,0.27,$/kWh,NaN,5AM until 6AM,0.20,$/kWh
6,NaN,NaN,NaN,NaN,July,0.24,$/kWh,NaN,6AM until 7AM,0.24,$/kWh
7,NaN,NaN,NaN,NaN,August,0.19,$/kWh,NaN,7AM until 8AM,0.24,$/kWh
8,NaN,NaN,NaN,NaN,September,0.18,$/kWh,NaN,8AM until 9AM,0.26,$/kWh
9,NaN,NaN,NaN,NaN,October,0.15,$/kWh,NaN,9AM until 10AM,0.20,$/kWh

In [54]:
#Sütunları ayırırıq, ay və qiymət sütunları ayrı, qiymət vahidi olan sütunu nəzərə almırıq, sonra ili ayırırıq,sonra saat sütunu ayrılır.
monthly=flex.iloc[:12,4:6]
year=flex.iloc[0,1]
hours=flex.iloc[:24,8:10]
#monthly
#hours
list_month=[]
for num in range(12):
    mon=monthly.iloc[num,0]
    mon=mon[:3]
    kwh=monthly.iloc[num,1]
    list_line=[mon,kwh]
    list_month.append(list_line)
monthly=pd.DataFrame(list_month, columns=["Month", "KWh"])
monthly

   Month   KWh
0    Jan  0.20
1    Feb  0.19
2    Mar  0.17
3    Apr  0.18
4    May  0.22
5    Jun  0.27
6    Jul  0.24
7    Aug  0.19
8    Sep  0.18
9    Oct  0.15
10   Nov  0.14
11   Dec  0.19

In [55]:
#Ayırdığımız saat sütununu eyni qayda ilə aşağıdakı kimi çıxarırıq.
list_hours=[]
for num in range(24):
    i=hours.iloc[num,0]
    j=i.split(" ")
    line_hours=[j[0], hours.iloc[num,1]]
    list_hours.append(line_hours)
hoursly=pd.DataFrame(list_hours, columns=["hours", "KWh"])
hoursly

   hours   KWh
0   12AM  0.10
1    1AM  0.10
2    2AM  0.10
3    3AM  0.10
4    4AM  0.15
5    5AM  0.20
6    6AM  0.24
7    7AM  0.24
8    8AM  0.26
9    9AM  0.20
10  10AM  0.20
11  11AM  0.26
12  12PM  0.26
13   1PM  0.20
14   2PM  0.24
15   3PM  0.18
16   4PM  0.15
17   5PM  0.30
18   6PM  0.24
19   7PM  0.24
20   8PM  0.12
21   9PM  0.11
22  10PM  0.10
23  11PM  0.10

In [56]:
#Struktursuz verilənləri strukturlu hala gətirmək üçün, boşluqları ləğv etmək və ya azaltmaq, söz sonluqlarını eyniləşdirmə üçün atmaq,altdan xətlərə görə ayırmaq əməliyyatı
power_s=power[0].str.strip()
power_s=power_s.str.strip("_")
power_s=power_s.str.replace("kwh","")
power_s=power_s.str.replace("   "," ")
power_s=power_s.str.replace("  "," ")
power_s=power_s.str.replace("th-","-")
power_s=power_s.str.replace("st-","-")
power_s=power_s.str.replace("nd-","-")
power_s=power_s.str.replace("rd-","-")
power_s=power_s.str.replace("-"," ")
power_s=power_s.str.replace(" AM","AM")
power_s=power_s.str.replace(" PM","PM")
power_s=power_s.str.replace("__","_")
power_s=power_s.str.replace("__"," ")
power_s=power_s.str.replace("_"," ")

power_s=power_s.str.strip()
power_s=power_s.str.split(" ")
power_df=power_s.to_frame()

print(power_df)

                                        0
0        [3PM, Mon, 24, Mar, 2014, 0.384]
1             [5AM, 15, Aug, 2014, 1.201]
2        [8PM, Thu, 20, Mar, 2014, 1.523]
3             [6PM, 23, Apr, 2014, 0.424]
4     [1AM, Friday, 19, Dec, 2014, 0.209]
...                                   ...
8755     [1AM, Fri, 07, Nov, 2014, 0.084]
8756          [6AM, 20, May, 2014, 1.027]
8757  [2AM, Tuesday, 8, Apr, 2014, 0.052]
8758          [9PM, 27, Jan, 2014, 1.428]
8759         [12PM, 25, Aug, 2014, 0.528]

[8760 rows x 1 columns]

In [57]:
#Yuxarıda çıxan nəticə seriya tipində olduğu üçün bizim işimizə yaramır, bunu yenidən dataframe-ə çevirməliyik.
all_sum=0
feb_sum=0
all_count=0
feb_count=0
mine_list=[]
for list_i in power_s:
    #print(list_i)
    len_list=len(list_i)
    new_list=[float(list_i[len_list-1])]
    new_list.append(list_i[len_list-2])
    new_list.append(list_i[len_list-3])
    new_list.append(int(list_i[len_list-4]))
    #if "PM" in list_i[0]:
    #    hours=int(list_i[0].replace("PM",""))+12
        #new_list.append(hours)
    #else:
    #    hours=int(list_i[0].replace("AM",""))
    #if hours==24:
    #    hours=12
    #elif hours==12:
    #    hours=0
        
    new_list.append(list_i[0])
    
    if len_list==6:
        week_day=list_i[1]
        new_list.append(week_day[:3])
    else:
        new_list.append("NA")
    mine_list.append(new_list)
    
df=pd.DataFrame(mine_list,columns=['KWh',"Year","Month","Day","hours","week"])
df=df.sort_values(by=["Month", "Day", "hours"])
print(df)

        KWh  Year Month  Day hours week
1290  0.098  2014   Apr    1  10AM   NA
5134  0.135  2014   Apr    1  10PM  Tue
2388  0.134  2014   Apr    1  11AM  Tue
1288  0.131  2014   Apr    1  11PM  Tue
5023  0.100  2014   Apr    1  12AM  Tue
...     ...   ...   ...  ...   ...  ...
8351  1.462  2014   Sep   30   7PM  Tue
1388  0.266  2014   Sep   30   8AM   NA
1607  0.963  2014   Sep   30   8PM   NA
6756  0.216  2014   Sep   30   9AM   NA
2133  0.428  2014   Sep   30   9PM   NA

[8760 rows x 6 columns]

In [58]:
#Yuxaridaki neticeleri aldqiqdan sonra, 1-ci sualin cavabini tapa bilerik 
all_avg=round(df["KWh"].mean(),3)
print("ALL avg = ",all_avg)

ALL avg =  0.782

In [59]:
#Fevral ayinin  evvelce filtrleyirik, sonra ortalamasini tapiriq.

df_feb=df.loc[df["Month"].isin(["Feb"])]

feb_avg=round(df_feb["KWh"].mean(),3)
print("Feb avg = ",feb_avg)

Feb avg =  0.834

In [60]:
#3-cu sual. NAlari drop edirik, elimizde sadece heftesi dolu olan data qalir, sonra bunlarin ay gun heftesini qruplashdiririq, tekrarlanan datalari drop edirik,original data ile yeni cixan datani ortaq week sozune gore birleshdiririk.
#Cixan neticelerden belli olur ki, en cox istifade olunan gun Sundaydir.
df_week=df.loc[df["week"]!="NA"]
df_week=df_week.loc[:,["Month","Day","week"]]
df_week=df_week.drop_duplicates()
df=pd.merge(df, df_week, on=['Month', "Day"], how='left')
week_list=df.groupby("week_y")["KWh"].sum()
print(week_list)

week_y
Fri     942.083
Mon     906.642
Sat    1110.204
Sun    1120.556
Thu     931.476
Tue     903.154
Wed     933.999
Name: KWh, dtype: float64

In [61]:
# Saata gore
hours_list=df.groupby("hours")["KWh"].sum()
hours_list

hours
10AM    183.174
10PM    210.731
11AM    213.951
11PM    257.327
12AM    181.638
12PM    212.546
1AM      93.966
1PM     184.716
2AM      92.192
2PM     208.166
3AM      92.315
3PM     220.122
4AM      93.596
4PM     219.374
5AM     354.582
5PM     481.243
6AM     446.288
6PM     619.418
7AM     399.243
7PM     731.126
8AM     268.043
8PM     670.779
9AM     190.439
9PM     223.139
Name: KWh, dtype: float64

In [62]:
# Her bir ayin cemini tapiriq, ayliq paketin qiymeti ile ayliq xerclenen elektrik serfini birlesdiririk
df_month=df.groupby("Month")["KWh"].sum()
df_month=pd.merge(df_month, monthly, on=["Month"], how='left')
print(df_month)

   Month     KWh_x  KWh_y
0    Apr   151.666   0.18
1    Aug   635.819   0.19
2    Dec   568.948   0.19
3    Feb   559.436   0.19
4    Jan  1042.660   0.20
5    Jul  1255.351   0.24
6    Jun   899.904   0.27
7    Mar   422.655   0.17
8    May   416.813   0.22
9    Nov   232.420   0.14
10   Oct   313.719   0.15
11   Sep   348.723   0.18

In [63]:
#Her bir serfiyyatini qiymetine vurub cemleyirik. Sonda illik serfiyyati aliriq
kwh_month_sum=0
for i in range(12):
    kwhx=df_month.loc[i,"KWh_x"]
    kwhy=df_month.loc[i,"KWh_y"]
    kwh_month=kwhx*kwhy
    kwh_month_sum+=kwh_month
kwh_month_sum=round(kwh_month_sum,2)
print(kwh_month_sum)

1421.21

In [64]:
# Illik serfiyyatini qiymetini hesabalamq ucun :

year_flex=df["KWh"].sum()*year
year_flex

1438.10394

In [65]:
# Eger saatliq paketi gotursek netice ne olacaq;

df_hoursly=df.groupby("hours")["KWh"].sum()
df_hoursly=pd.merge(df_hoursly, hoursly, on=["hours"], how='left')
print(df_hoursly)

   hours    KWh_x  KWh_y
0   10AM  183.174   0.20
1   10PM  210.731   0.10
2   11AM  213.951   0.26
3   11PM  257.327   0.10
4   12AM  181.638   0.10
5   12PM  212.546   0.26
6    1AM   93.966   0.10
7    1PM  184.716   0.20
8    2AM   92.192   0.10
9    2PM  208.166   0.24
10   3AM   92.315   0.10
11   3PM  220.122   0.18
12   4AM   93.596   0.15
13   4PM  219.374   0.15
14   5AM  354.582   0.20
15   5PM  481.243   0.30
16   6AM  446.288   0.24
17   6PM  619.418   0.24
18   7AM  399.243   0.24
19   7PM  731.126   0.24
20   8AM  268.043   0.26
21   8PM  670.779   0.12
22   9AM  190.439   0.20
23   9PM  223.139   0.11

In [66]:
# Yene serfiyyati qiymete vurub cemleyirik, saatliq pakete gore illik xercimizi tapiriq

kwh_hours_sum=0
#print(df_hoursly)
for i in range(24):
    #print(i)
    kwhx=df_hoursly.loc[i,"KWh_x"]
    kwhy=df_hoursly.loc[i,"KWh_y"]
    df_hours=kwhx*kwhy
    #print(kwhx, kwhy, df_hours)
    kwh_hours_sum+=df_hours
print(round(kwh_hours_sum,2))

1368.98

In [67]:
# aldigimiz neticeleri eyni dataframedi birlesdiririk. Muqayise edilebilinsin.Netice olaraq saatliq paket bize daha cox serf edecekdir.

df_flex=pd.DataFrame([["hours_flex", kwh_hours_sum],
                     ["month_flex", kwh_month_sum],
                     ["year_flex", year_flex]],
                    columns=["flex","KWh"])
df_flex[["flex", "KWh"]].min()

flex    hours_flex
KWh        1368.98
dtype: object